openapi: 3.2.0
info:
  title: Qualio Developer Audit Trail API
  version: '0.1'
  description: Whether you're streamlining document control, automating quality event management, integrating training records, or syncing supplier data across systems, the Qualio API provides secure and scalable solutions.
servers:
- url: https://api.qualio.com
security:
- api_key: []
tags:
- name: Audit Trail
paths:
  /v1/audit-trail/audits:
    get:
      summary: Query the audit trail
      description: 'Returns the company''s audit trail: a chronological, immutable log of significant user and system activity across the quality management system (also referred to as the activity log or history). Each entry captures the action performed, the user who performed it (or none, for automated system actions), the date, and a link to the affected object. Tracked activity includes document approvals, reviews and status changes; user and group management (invitations, account changes, group membership); tag changes; quality event, issue and task activity; periodic reviews; and configuration changes such as SSO and billing. Results are scoped to the company associated with the API key and can be filtered by user and by date range.'
      operationId: queryAuditTrail
      tags:
      - Audit Trail
      security:
      - api_key: []
      parameters:
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/offsetParam'
        description: A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/limitParam'
        required: true
        description: The maximum number of results to return. This is typically used with offset to paginate results.
      - in: query
        name: user_id
        schema:
          $ref: '#/components/schemas/userIdParam'
        description: A unique identifier for a user in Qualio
      - in: query
        name: start_date
        schema:
          $ref: '#/components/schemas/startDateParam'
        description: Filter results from this date onwards (ISO 8601 format)
      - in: query
        name: end_date
        schema:
          $ref: '#/components/schemas/endDateParam'
        description: Filter results up to this date (ISO 8601 format)
      responses:
        '200':
          description: Successful audit trail retrieval
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
            Content-Disposition:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auditTrailResp'
        '400':
          description: The request has malformed query parameters
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
            Content-Disposition:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericBadRequest400ParametersResponse'
        '403':
          description: This API key is not allowed to perform this action, or the API key is incorrect
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
            Content-Disposition:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericForbiddenResponse'
        '429':
          description: This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
            Content-Disposition:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/throttledResponse'
    options:
      description: 'Returns the company''s audit trail: a chronological, immutable log of significant user and system activity across the quality management system (also referred to as the activity log or history). Each entry captures the action performed, the user who performed it (or none, for automated system actions), the date, and a link to the affected object. Tracked activity includes document approvals, reviews and status changes; user and group management (invitations, account changes, group membership); tag changes; quality event, issue and task activity; periodic reviews; and configuration changes such as SSO and billing. Results are scoped to the company associated with the API key and can be filtered by user and by date range.'
      operationId: queryAuditTrailOptions
      tags:
      - Audit Trail
      x-scalar-ignore: true
      parameters:
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/offsetParam'
        description: A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/limitParam'
        required: true
        description: The maximum number of results to return. This is typically used with offset to paginate results.
      - in: query
        name: user_id
        schema:
          $ref: '#/components/schemas/userIdParam'
        description: A unique identifier for a user in Qualio
      - in: query
        name: start_date
        schema:
          $ref: '#/components/schemas/startDateParam'
        description: Filter results from this date onwards (ISO 8601 format)
      - in: query
        name: end_date
        schema:
          $ref: '#/components/schemas/endDateParam'
        description: Filter results up to this date (ISO 8601 format)
      responses:
        '200':
          description: Options 200
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Content-Type:
              schema:
                type: string
            Content-Disposition:
              schema:
                type: string
      summary: Query audit trail options
      x-summary-source: derived
components:
  schemas:
    userIdParam:
      description: A unique identifier for a user in Qualio
      example: 12345
      type: number
    offsetParam:
      description: A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population
      example: 0
      type: number
    auditTrailResp:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              target:
                anyOf:
                - type: string
                - type: 'null'
              audit_id:
                type: string
              action:
                type: string
              user_id:
                anyOf:
                - type: number
                - type: 'null'
            required:
            - date
            - target
            - audit_id
            - action
            - user_id
            additionalProperties: false
        total:
          type: number
      required:
      - items
      - total
      additionalProperties: false
      description: A series of audit trail entries
      example:
        items:
        - date: '2025-05-01T14:48:43.472Z'
          target: POL-1 Security Policy v1.0
          audit_id: document-aaaa04f1-01a9-43a8-ab9f-ac5c7dd1ec5c
          action: Approved
          user_id: 99
        total: 1
    endDateParam:
      description: Filter results up to this date (ISO 8601 format)
      example: '2025-12-31T23:59:59Z'
      type: string
    genericBadRequest400ParametersResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              location:
                type: string
              name:
                type: string
            required:
            - description
            additionalProperties: false
        status:
          type: string
          const: error
      required:
      - errors
      - status
      additionalProperties: false
      example:
        status: error
        errors:
        - location: query
          name: document_id
          description: document_id is not an integer
    startDateParam:
      description: Filter results from this date onwards (ISO 8601 format)
      example: '2025-01-01T00:00:00Z'
      type: string
    genericForbiddenResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      additionalProperties: false
      example:
        message: User is not authorized to access this resource with an explicit deny
    limitParam:
      type: number
      description: The maximum number of results to return. This is typically used with offset to paginate results.
      example: 30
    throttledResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      additionalProperties: false
      example:
        message: You have exceeded what is allowed in the fair use policy for this API
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
