{
 "openapi": "3.1.0",
 "info": {
  "title": "Qualio Developer API",
  "version": "0.1",
  "description": "Whether you're streamlining document control, automating quality event management, integrating training records, or syncing supplier data across systems, the Qualio API provides secure and scalable solutions. Getting started is easy: generate an API key, authenticate your requests, explore example code, and start building. Follow the steps below to integrate with Qualio quickly and efficiently.\n\n  This portal includes everything you need to build with confidence:\n- Secure, token-based authentication\n- Full reference documentation for each endpoint\n- Example code in multiple programming languages\n- \"Try it out\" functionality to test requests live\n- Fair usage rate limits to ensure system stability\n \n\n #### Generate Your API Key \n To access the API, you’ll need an API key:\n\n- Log in to the [Qualio admin panel](https://app.qualio.com/user-management/admin).\n\n- Navigate to Admin Settings > [Developer API tokens](https://app.qualio.com/user-management/admin/dev-api).\n\n- Click Create token and save the key securely.\n\n- Only users with administrative privileges can generate API keys. \n\n\n\nIf you don’t have admin access, please ask your Qualio administrator to create a key for you.\n \n\n #### Authenticate Your Requests\n\nQualio uses API key authentication using the X-Api-Key header. Add your API key in the authentication panel to the right to see examples of how to use it in a language of your choice.\n \n\n #### Make Your First API Call\n\nHere is an easy place to get started: [fetching all your effective documents](#tag/documents/GET/v1/documents/query)\n \n\n #### Respect Rate Limits\n\nTo ensure fair use and maintain performance, API requests are subject to rate limits:\n\n- Each API key has a request threshold of maximum 200 requests per minute\n- If you exceed this limit, you'll receive an HTTP 429 (Too Many Requests) response.\n- We recommend implementing retry logic in your client applications, if this is a concern for you.\n\n \n\n #### Explore and Build\nUse the navigation panel to browse available API endpoints, such as:\n- Documents — Create, query, and manage your controlled documents\n- User Management — Invite users, update roles, or sync user data\n- Audit Trail — Retrieve historical changes for compliance reporting\n- You’ll find example code in Python, JavaScript, C#, Ruby, PHP, Go, and Shell for each endpoint. Click “Try it out” to test requests directly from the browser.\n \n\n #### How is this API versioned? \n We prefix each URL with the major version of the API. Within this major version, we promise to not make any breaking changes, which are:\n - Changes to the datatype of request or response payload attribute. \n - Removal of an attribute or parameter. \n - Changes to a URL. \n\n We do not consider the following to be breaking changes: \n - Additional attributes on return payloads  \n - Additional optional attributes on request payloads \n\n \n#### Where can I get an OpenApi spec for this? \n You can [find it here](/download-openapi), but bear in mind that this API is updated regularly, so be sure to fetch it afresh for the latest features\n"
 },
 "servers": [
  {
   "url": "https://api.qualio.com"
  }
 ],
 "security": [
  {
   "api_key": []
  }
 ],
 "tags": [
  {
   "name": "Audit Trail"
  },
  {
   "name": "Design Controls"
  },
  {
   "name": "Documents"
  },
  {
   "name": "Change Management"
  },
  {
   "name": "Compliance Intelligence"
  },
  {
   "name": "Events"
  },
  {
   "name": "Resource Library"
  },
  {
   "name": "Shared"
  },
  {
   "name": "Suppliers"
  },
  {
   "name": "Tags"
  },
  {
   "name": "Training"
  },
  {
   "name": "User Management"
  }
 ],
 "paths": {
  "/v1/audit-trail/audits": {
   "get": {
    "summary": "Query the audit trail",
    "description": "Returns the company's audit trail: a chronological, immutable log of significant user and system activity across the quality management system (also referred to as the activity log or history). Each entry captures the action performed, the user who performed it (or none, for automated system actions), the date, and a link to the affected object. Tracked activity includes document approvals, reviews and status changes; user and group management (invitations, account changes, group membership); tag changes; quality event, issue and task activity; periodic reviews; and configuration changes such as SSO and billing. Results are scoped to the company associated with the API key and can be filtered by user and by date range.",
    "operationId": "queryAuditTrail",
    "tags": [
     "Audit Trail"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "$ref": "#/components/schemas/offsetParam"
      },
      "description": "A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population"
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "$ref": "#/components/schemas/limitParam"
      },
      "required": true,
      "description": "The maximum number of results to return. This is typically used with offset to paginate results."
     },
     {
      "in": "query",
      "name": "user_id",
      "schema": {
       "$ref": "#/components/schemas/userIdParam"
      },
      "description": "A unique identifier for a user in Qualio"
     },
     {
      "in": "query",
      "name": "start_date",
      "schema": {
       "$ref": "#/components/schemas/startDateParam"
      },
      "description": "Filter results from this date onwards (ISO 8601 format)"
     },
     {
      "in": "query",
      "name": "end_date",
      "schema": {
       "$ref": "#/components/schemas/endDateParam"
      },
      "description": "Filter results up to this date (ISO 8601 format)"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful audit trail retrieval",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/auditTrailResp"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed query parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400ParametersResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   },
   "options": {
    "description": "Returns the company's audit trail: a chronological, immutable log of significant user and system activity across the quality management system (also referred to as the activity log or history). Each entry captures the action performed, the user who performed it (or none, for automated system actions), the date, and a link to the affected object. Tracked activity includes document approvals, reviews and status changes; user and group management (invitations, account changes, group membership); tag changes; quality event, issue and task activity; periodic reviews; and configuration changes such as SSO and billing. Results are scoped to the company associated with the API key and can be filtered by user and by date range.",
    "operationId": "queryAuditTrailOptions",
    "tags": [
     "Audit Trail"
    ],
    "x-scalar-ignore": true,
    "parameters": [
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "$ref": "#/components/schemas/offsetParam"
      },
      "description": "A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population"
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "$ref": "#/components/schemas/limitParam"
      },
      "required": true,
      "description": "The maximum number of results to return. This is typically used with offset to paginate results."
     },
     {
      "in": "query",
      "name": "user_id",
      "schema": {
       "$ref": "#/components/schemas/userIdParam"
      },
      "description": "A unique identifier for a user in Qualio"
     },
     {
      "in": "query",
      "name": "start_date",
      "schema": {
       "$ref": "#/components/schemas/startDateParam"
      },
      "description": "Filter results from this date onwards (ISO 8601 format)"
     },
     {
      "in": "query",
      "name": "end_date",
      "schema": {
       "$ref": "#/components/schemas/endDateParam"
      },
      "description": "Filter results up to this date (ISO 8601 format)"
     }
    ],
    "responses": {
     "200": {
      "description": "Options 200",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    }
   }
  },
  "/v1/change-management/change-controls": {
   "get": {
    "summary": "List change controls",
    "description": "Lists change controls for your Qualio instance. A change control (CC) is a formal, auditable record that documents and routes a change for review and approval â typically a change to one or more controlled documents, which appear as the change control's linked items. Each entry includes its id (e.g. CC-123), title, owner, status (`open` or `closed`), timestamps, and content sections. Supports filtering by status, ordering, and pagination.",
    "operationId": "listChangeControls",
    "tags": [
     "Change Management"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "$ref": "#/components/schemas/offsetParam"
      },
      "description": "A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population"
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "$ref": "#/components/schemas/limitParam"
      }
     },
     {
      "in": "query",
      "name": "status",
      "schema": {
       "$ref": "#/components/schemas/statusParam"
      },
      "description": "The status of a domain object"
     },
     {
      "in": "query",
      "name": "orderBy",
      "schema": {
       "$ref": "#/components/schemas/orderByParam"
      },
      "description": "The field to order the results by"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful change control entries retrieval",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/changeControlResp"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed query parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400ParametersResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   },
   "options": {
    "description": "Lists change controls for your Qualio instance. A change control (CC) is a formal, auditable record that documents and routes a change for review and approval â typically a change to one or more controlled documents, which appear as the change control's linked items. Each entry includes its id (e.g. CC-123), title, owner, status (`open` or `closed`), timestamps, and content sections. Supports filtering by status, ordering, and pagination.",
    "operationId": "listChangeControlsOptions",
    "tags": [
     "Change Management"
    ],
    "x-scalar-ignore": true,
    "parameters": [
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "$ref": "#/components/schemas/offsetParam"
      },
      "description": "A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population"
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "$ref": "#/components/schemas/limitParam"
      }
     },
     {
      "in": "query",
      "name": "status",
      "schema": {
       "$ref": "#/components/schemas/statusParam"
      },
      "description": "The status of a domain object"
     },
     {
      "in": "query",
      "name": "orderBy",
      "schema": {
       "$ref": "#/components/schemas/orderByParam"
      },
      "description": "The field to order the results by"
     }
    ],
    "responses": {
     "200": {
      "description": "Options 200",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    }
   },
   "post": {
    "summary": "Create a change control",
    "description": "Creates a change control for a draft document. A change control is the formal workflow record that documents and routes the proposed change for review and approval. Provide the document and the content `sections`; the section positions must match those defined by the change control template and start at position 1.",
    "operationId": "createChangeControl",
    "tags": [
     "Change Management"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/createCC"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful change control entries retrieval",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/createdCC"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed body",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequestResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/change-management/change-requests": {
   "get": {
    "summary": "List change requests",
    "description": "Lists change requests for your Qualio instance. A change request (CR) is a formal record used to propose, track, and approve changes to controlled documents. Each entry includes its code (e.g. DCR-1), title, owner, status, timestamps, and linked change items. Supports filtering by status, text search, ordering, and pagination.",
    "operationId": "listChangeRequests",
    "tags": [
     "Change Management"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "$ref": "#/components/schemas/offsetParam"
      },
      "description": "A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population"
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "$ref": "#/components/schemas/limitParam"
      }
     },
     {
      "in": "query",
      "name": "status",
      "schema": {
       "$ref": "#/components/schemas/statusParam"
      },
      "description": "The status of a domain object"
     },
     {
      "in": "query",
      "name": "orderBy",
      "schema": {
       "$ref": "#/components/schemas/orderByParam"
      },
      "description": "The field to order the results by"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful change request list retrieval",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/changeRequestResp"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed query parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400ParametersResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   },
   "options": {
    "description": "Lists change requests for your Qualio instance. A change request (CR) is a formal record used to propose, track, and approve changes to controlled documents. Each entry includes its code (e.g. DCR-1), title, owner, status, timestamps, and linked change items. Supports filtering by status, text search, ordering, and pagination.",
    "operationId": "listChangeRequestsOptions",
    "tags": [
     "Change Management"
    ],
    "x-scalar-ignore": true,
    "parameters": [
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "$ref": "#/components/schemas/offsetParam"
      },
      "description": "A start point for the batch to be returned. For example, a value of 5 will start at the 6th element in the overall population"
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "$ref": "#/components/schemas/limitParam"
      }
     },
     {
      "in": "query",
      "name": "status",
      "schema": {
       "$ref": "#/components/schemas/statusParam"
      },
      "description": "The status of a domain object"
     },
     {
      "in": "query",
      "name": "orderBy",
      "schema": {
       "$ref": "#/components/schemas/orderByParam"
      },
      "description": "The field to order the results by"
     }
    ],
    "responses": {
     "200": {
      "description": "Options 200",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    }
   }
  },
  "/v1/compliance/frameworks": {
   "get": {
    "summary": "List frameworks",
    "description": "Lists the compliance frameworks in your Qualio instance. A framework is a compliance standard (for example ISO 13485, ISO 9001, or GDPR) that groups the requirements your organisation has committed to meet. Each framework has a status: disabled (not currently in use), implementing (controls are being set up), or monitoring (actively tracking compliance against the standard). Results are ordered by framework id. Use the offset and limit parameters to page through large sets; the total field in the response reports the full count of matching frameworks before pagination is applied. Filter by status to return only frameworks in a particular state; omit the parameter to return frameworks in any state.",
    "operationId": "listComplianceFrameworks",
    "tags": [
     "Compliance Intelligence"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "query",
      "name": "status",
      "schema": {
       "description": "Filter results to only frameworks with this status. Accepted values: disabled, implementing, monitoring. Omit to return frameworks in any state.",
       "example": "monitoring",
       "type": "string",
       "enum": [
        "disabled",
        "implementing",
        "monitoring"
       ]
      },
      "description": "Filter results to only frameworks with this status. Accepted values: disabled, implementing, monitoring. Omit to return frameworks in any state."
     },
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "description": "Number of items to skip before collecting results. Use with limit to page through results. Defaults to 0.",
       "example": 0,
       "type": "integer",
       "minimum": 0,
       "maximum": 9007199254740991
      },
      "description": "Number of items to skip before collecting results. Use with limit to page through results. Defaults to 0."
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "description": "Maximum number of items to return in a single response. Minimum 1, maximum 100. Defaults to 25.",
       "example": 25,
       "type": "integer",
       "minimum": 1,
       "maximum": 100
      },
      "description": "Maximum number of items to return in a single response. Minimum 1, maximum 100. Defaults to 25."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful retrieval of compliance frameworks.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "The unique numeric identifier of the framework.",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "The display name of the compliance framework.",
              "example": "ISO 13485"
             },
             "description": {
              "anyOf": [
               {
                "type": "string"
               },
               {
                "type": "null"
               }
              ],
              "description": "An optional human-readable description of the framework.",
              "example": "Medical devices: Quality management systems"
             },
             "status": {
              "type": "string",
              "enum": [
               "disabled",
               "implementing",
               "monitoring"
              ],
              "description": "The current status of the framework. disabled: not currently in use. implementing: controls are being set up. monitoring: actively tracking compliance.",
              "example": "monitoring"
             }
            },
            "required": [
             "id",
             "name",
             "description",
             "status"
            ],
            "additionalProperties": false
           }
          },
          "total": {
           "type": "number"
          }
         },
         "required": [
          "items",
          "total"
         ],
         "additionalProperties": false,
         "description": "A paginated list of compliance frameworks.",
         "example": {
          "total": 2,
          "items": [
           {
            "id": 1,
            "name": "ISO 13485",
            "description": "Medical devices: Quality management systems",
            "status": "monitoring"
           },
           {
            "id": 2,
            "name": "ISO 9001",
            "description": null,
            "status": "implementing"
           }
          ]
         },
         "ref": "complianceFrameworkListResponse"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed query parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400ParametersResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   },
   "options": {
    "description": "Lists the compliance frameworks in your Qualio instance. A framework is a compliance standard (for example ISO 13485, ISO 9001, or GDPR) that groups the requirements your organisation has committed to meet. Each framework has a status: disabled (not currently in use), implementing (controls are being set up), or monitoring (actively tracking compliance against the standard). Results are ordered by framework id. Use the offset and limit parameters to page through large sets; the total field in the response reports the full count of matching frameworks before pagination is applied. Filter by status to return only frameworks in a particular state; omit the parameter to return frameworks in any state.",
    "operationId": "listComplianceFrameworksOptions",
    "tags": [
     "Compliance Intelligence"
    ],
    "x-scalar-ignore": true,
    "parameters": [
     {
      "in": "query",
      "name": "status",
      "schema": {
       "description": "Filter results to only frameworks with this status. Accepted values: disabled, implementing, monitoring. Omit to return frameworks in any state.",
       "example": "monitoring",
       "type": "string",
       "enum": [
        "disabled",
        "implementing",
        "monitoring"
       ]
      },
      "description": "Filter results to only frameworks with this status. Accepted values: disabled, implementing, monitoring. Omit to return frameworks in any state."
     },
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "description": "Number of items to skip before collecting results. Use with limit to page through results. Defaults to 0.",
       "example": 0,
       "type": "integer",
       "minimum": 0,
       "maximum": 9007199254740991
      },
      "description": "Number of items to skip before collecting results. Use with limit to page through results. Defaults to 0."
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "description": "Maximum number of items to return in a single response. Minimum 1, maximum 100. Defaults to 25.",
       "example": 25,
       "type": "integer",
       "minimum": 1,
       "maximum": 100
      },
      "description": "Maximum number of items to return in a single response. Minimum 1, maximum 100. Defaults to 25."
     }
    ],
    "responses": {
     "200": {
      "description": "Options 200",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    }
   },
   "post": {
    "summary": "Create a framework",
    "description": "Creates a new compliance framework in your Qualio instance. Provide a name and an optional description. The framework is created with a disabled status and must be activated in the Qualio application before requirements can be tracked against it. The id returned in the response can be used to retrieve or update the framework via the other Compliance Intelligence endpoints.",
    "operationId": "createComplianceFramework",
    "tags": [
     "Compliance Intelligence"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1,
          "description": "The display name of the new compliance framework.",
          "example": "ISO 13485"
         },
         "description": {
          "description": "An optional human-readable description of the framework.",
          "example": "Medical devices: Quality management systems",
          "anyOf": [
           {
            "type": "string"
           },
           {
            "type": "null"
           }
          ]
         }
        },
        "required": [
         "name"
        ],
        "description": "The framework to create.",
        "example": {
         "name": "ISO 13485",
         "description": "Medical devices: Quality management systems"
        },
        "ref": "createComplianceFrameworkRequest"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Framework created successfully.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "exclusiveMinimum": 0,
           "maximum": 9007199254740991,
           "description": "The unique numeric identifier of the framework.",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "The display name of the compliance framework.",
           "example": "ISO 13485"
          },
          "description": {
           "anyOf": [
            {
             "type": "string"
            },
            {
             "type": "null"
            }
           ],
           "description": "An optional human-readable description of the framework.",
           "example": "Medical devices: Quality management systems"
          },
          "status": {
           "type": "string",
           "enum": [
            "disabled",
            "implementing",
            "monitoring"
           ],
           "description": "The current status of the framework. disabled: not currently in use. implementing: controls are being set up. monitoring: actively tracking compliance.",
           "example": "monitoring"
          },
          "stats": {
           "anyOf": [
            {
             "type": "object",
             "properties": {
              "total_requirements": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Total number of requirements in the framework.",
               "example": 42
              },
              "passed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements with a met assessment.",
               "example": 30
              },
              "failed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements flagged as attention required.",
               "example": 5
              },
              "not_assessed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements that have not yet been fully assessed. Includes requirements in not_started and in_progress states.",
               "example": 7
              }
             },
             "required": [
              "total_requirements",
              "passed",
              "failed",
              "not_assessed"
             ],
             "additionalProperties": false
            },
            {
             "type": "null"
            }
           ]
          }
         },
         "required": [
          "id",
          "name",
          "description",
          "status"
         ],
         "additionalProperties": false,
         "description": "The newly created framework.",
         "example": {
          "id": 10,
          "name": "ISO 13485",
          "description": "Medical devices: Quality management systems",
          "status": "disabled",
          "stats": null
         },
         "ref": "createdComplianceFramework"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed body",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequestResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/compliance/frameworks/{frameworkId}": {
   "put": {
    "summary": "Update a framework",
    "description": "Updates a compliance framework identified by its numeric id. This is a partial update: include only the fields you want to change. Omitting a field leaves its current value unchanged. Pass null for description to clear it. To change the framework lifecycle status, use PATCH /v1/compliance/frameworks/{frameworkId}/status.",
    "operationId": "updateComplianceFramework",
    "tags": [
     "Compliance Intelligence"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "path",
      "name": "frameworkId",
      "schema": {
       "type": "integer",
       "exclusiveMinimum": 0,
       "maximum": 9007199254740991,
       "description": "The numeric id of the compliance framework.",
       "example": 1
      },
      "required": true,
      "description": "The numeric id of the compliance framework."
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "description": "New display name for the framework. Omit to leave unchanged.",
          "example": "ISO 13485 (2016)",
          "type": "string",
          "minLength": 1
         },
         "description": {
          "description": "New description for the framework. Omit to leave unchanged. Pass null to clear an existing description.",
          "example": "Medical devices: Quality management systems",
          "anyOf": [
           {
            "type": "string"
           },
           {
            "type": "null"
           }
          ]
         }
        },
        "description": "Fields to update on the framework.",
        "example": {
         "name": "ISO 13485 (2016)",
         "description": "Medical devices: Quality management systems"
        },
        "ref": "updateComplianceFrameworkRequest"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Framework updated successfully.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "exclusiveMinimum": 0,
           "maximum": 9007199254740991,
           "description": "The unique numeric identifier of the framework.",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "The display name of the compliance framework.",
           "example": "ISO 13485"
          },
          "description": {
           "anyOf": [
            {
             "type": "string"
            },
            {
             "type": "null"
            }
           ],
           "description": "An optional human-readable description of the framework.",
           "example": "Medical devices: Quality management systems"
          },
          "status": {
           "type": "string",
           "enum": [
            "disabled",
            "implementing",
            "monitoring"
           ],
           "description": "The current status of the framework. disabled: not currently in use. implementing: controls are being set up. monitoring: actively tracking compliance.",
           "example": "monitoring"
          },
          "stats": {
           "description": "Assessment statistics for the framework. Populated when the framework status is implementing or monitoring. null or absent when the framework is disabled.",
           "example": null,
           "anyOf": [
            {
             "type": "object",
             "properties": {
              "total_requirements": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Total number of requirements in the framework.",
               "example": 42
              },
              "passed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements with a met assessment.",
               "example": 30
              },
              "failed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements flagged as attention required.",
               "example": 5
              },
              "not_assessed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements that have not yet been fully assessed. Includes requirements in not_started and in_progress states.",
               "example": 7
              }
             },
             "required": [
              "total_requirements",
              "passed",
              "failed",
              "not_assessed"
             ],
             "additionalProperties": false
            },
            {
             "type": "null"
            }
           ]
          }
         },
         "required": [
          "id",
          "name",
          "description",
          "status"
         ],
         "additionalProperties": false,
         "description": "The updated framework.",
         "example": {
          "id": 1,
          "name": "ISO 13485 (2016)",
          "description": "Medical devices: Quality management systems",
          "status": "monitoring",
          "stats": null
         },
         "ref": "updatedComplianceFramework"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed path parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400PathResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "404": {
      "description": "Framework not found.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/generic404"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   },
   "options": {
    "description": "Updates a compliance framework identified by its numeric id. This is a partial update: include only the fields you want to change. Omitting a field leaves its current value unchanged. Pass null for description to clear it. To change the framework lifecycle status, use PATCH /v1/compliance/frameworks/{frameworkId}/status.",
    "operationId": "updateComplianceFrameworkOptions",
    "tags": [
     "Compliance Intelligence"
    ],
    "x-scalar-ignore": true,
    "parameters": [
     {
      "in": "path",
      "name": "frameworkId",
      "schema": {
       "type": "integer",
       "exclusiveMinimum": 0,
       "maximum": 9007199254740991,
       "description": "The numeric id of the compliance framework.",
       "example": 1
      },
      "required": true,
      "description": "The numeric id of the compliance framework."
     }
    ],
    "responses": {
     "200": {
      "description": "Options 200",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    }
   },
   "get": {
    "summary": "Get a framework",
    "description": "Returns the details of a single compliance framework identified by its numeric id. The stats field is populated when the framework status is implementing or monitoring, and is null when the framework is disabled. Stats break down the framework requirements by assessment outcome: passed counts requirements with a met assessment, failed counts requirements flagged as attention required, and not_assessed counts requirements that are not_started or in_progress. The sum of passed, failed, and not_assessed equals total_requirements.",
    "operationId": "getComplianceFramework",
    "tags": [
     "Compliance Intelligence"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "path",
      "name": "frameworkId",
      "schema": {
       "type": "integer",
       "exclusiveMinimum": 0,
       "maximum": 9007199254740991,
       "description": "The numeric id of the compliance framework.",
       "example": 1
      },
      "required": true,
      "description": "The numeric id of the compliance framework."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful retrieval of the compliance framework.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "exclusiveMinimum": 0,
           "maximum": 9007199254740991,
           "description": "The unique numeric identifier of the framework.",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "The display name of the compliance framework.",
           "example": "ISO 13485"
          },
          "description": {
           "anyOf": [
            {
             "type": "string"
            },
            {
             "type": "null"
            }
           ],
           "description": "An optional human-readable description of the framework.",
           "example": "Medical devices: Quality management systems"
          },
          "status": {
           "type": "string",
           "enum": [
            "disabled",
            "implementing",
            "monitoring"
           ],
           "description": "The current status of the framework. disabled: not currently in use. implementing: controls are being set up. monitoring: actively tracking compliance.",
           "example": "monitoring"
          },
          "stats": {
           "description": "Assessment statistics for the framework. Populated when the framework status is implementing or monitoring. null or absent when the framework is disabled.",
           "example": null,
           "anyOf": [
            {
             "type": "object",
             "properties": {
              "total_requirements": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Total number of requirements in the framework.",
               "example": 42
              },
              "passed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements with a met assessment.",
               "example": 30
              },
              "failed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements flagged as attention required.",
               "example": 5
              },
              "not_assessed": {
               "type": "integer",
               "minimum": 0,
               "maximum": 9007199254740991,
               "description": "Number of requirements that have not yet been fully assessed. Includes requirements in not_started and in_progress states.",
               "example": 7
              }
             },
             "required": [
              "total_requirements",
              "passed",
              "failed",
              "not_assessed"
             ],
             "additionalProperties": false
            },
            {
             "type": "null"
            }
           ]
          }
         },
         "required": [
          "id",
          "name",
          "description",
          "status"
         ],
         "additionalProperties": false,
         "description": "The requested compliance framework.",
         "example": {
          "id": 1,
          "name": "ISO 13485",
          "description": "Medical devices: Quality management systems",
          "status": "monitoring",
          "stats": {
           "total_requirements": 42,
           "passed": 30,
           "failed": 5,
           "not_assessed": 7
          }
         },
         "ref": "complianceFrameworkDetail"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed path parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400PathResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "404": {
      "description": "Framework not found.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/generic404"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   },
   "delete": {
    "summary": "Delete a framework",
    "description": "Permanently deletes a custom compliance framework identified by its numeric id. Only frameworks created by your organisation can be deleted. Qualio-managed frameworks (built-in standards such as ISO 13485 or GDPR) cannot be deleted and will return a 403 if you attempt to do so. Deletion removes the framework and its associated requirements from your instance. This action cannot be undone. A successful deletion returns no content.",
    "operationId": "deleteComplianceFramework",
    "tags": [
     "Compliance Intelligence"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "path",
      "name": "frameworkId",
      "schema": {
       "type": "integer",
       "exclusiveMinimum": 0,
       "maximum": 9007199254740991,
       "description": "The numeric id of the compliance framework.",
       "example": 1
      },
      "required": true,
      "description": "The numeric id of the compliance framework."
     }
    ],
    "responses": {
     "204": {
      "description": "Framework deleted successfully.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "anyOf": [
          {
           "type": "object",
           "properties": {},
           "additionalProperties": false
          },
          {
           "type": "null"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed path parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400PathResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "404": {
      "description": "Framework not found.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/generic404"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/compliance/frameworks/{frameworkId}/status": {
   "patch": {
    "summary": "Update a framework status",
    "description": "Updates the lifecycle status of a compliance framework for your Qualio instance. The status controls whether the framework is actively tracked: disabled (not currently in use), implementing (controls are being set up), or monitoring (activated for active compliance tracking).",
    "operationId": "updateComplianceFrameworkStatus",
    "tags": [
     "Compliance Intelligence"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "path",
      "name": "frameworkId",
      "schema": {
       "type": "integer",
       "exclusiveMinimum": 0,
       "maximum": 9007199254740991,
       "description": "The numeric id of the compliance framework.",
       "example": 1
      },
      "required": true,
      "description": "The numeric id of the compliance framework."
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "status": {
          "type": "string",
          "enum": [
           "disabled",
           "implementing",
           "monitoring"
          ],
          "description": "The new lifecycle status for the framework. disabled: deactivates the framework. implementing: marks the framework as being set up. monitoring: activates the framework for active compliance tracking.",
          "example": "monitoring"
         }
        },
        "required": [
         "status"
        ],
        "description": "The new status to apply to the framework.",
        "example": {
         "status": "monitoring"
        },
        "ref": "updateComplianceFrameworkStatusRequest"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Framework status updated successfully.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "framework_id": {
           "type": "integer",
           "exclusiveMinimum": 0,
           "maximum": 9007199254740991,
           "description": "The id of the framework whose status was updated.",
           "example": 1
          },
          "status": {
           "type": "string",
           "enum": [
            "disabled",
            "implementing",
            "monitoring"
           ],
           "description": "The current lifecycle status of the framework.",
           "example": "monitoring"
          }
         },
         "required": [
          "framework_id",
          "status"
         ],
         "additionalProperties": false,
         "description": "The updated framework status.",
         "example": {
          "framework_id": 1,
          "status": "monitoring"
         },
         "ref": "complianceFrameworkStatus"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed path parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400PathResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "404": {
      "description": "Framework not found.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/generic404"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   },
   "options": {
    "description": "Updates the lifecycle status of a compliance framework for your Qualio instance. The status controls whether the framework is actively tracked: disabled (not currently in use), implementing (controls are being set up), or monitoring (activated for active compliance tracking).",
    "operationId": "updateComplianceFrameworkStatusOptions",
    "tags": [
     "Compliance Intelligence"
    ],
    "x-scalar-ignore": true,
    "parameters": [
     {
      "in": "path",
      "name": "frameworkId",
      "schema": {
       "type": "integer",
       "exclusiveMinimum": 0,
       "maximum": 9007199254740991,
       "description": "The numeric id of the compliance framework.",
       "example": 1
      },
      "required": true,
      "description": "The numeric id of the compliance framework."
     }
    ],
    "responses": {
     "200": {
      "description": "Options 200",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    }
   }
  },
  "/v1/compliance/requirements": {
   "get": {
    "summary": "List requirements",
    "description": "Lists the compliance requirements in your Qualio instance. A requirement is an individual clause or control obligation from a compliance framework that your organisation has committed to meet. Each requirement belongs to exactly one framework and carries a requirement_number (for example a clause reference such as 7.1), a short name, and optional full normative text. Use the framework_id parameter to return requirements for a specific framework only. Omit it to return requirements across all frameworks visible to your instance. Results are ordered by requirement id. Use offset and limit to page through large sets; the total field in the response reports the full count before pagination is applied.",
    "operationId": "listComplianceRequirements",
    "tags": [
     "Compliance Intelligence"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "parameters": [
     {
      "in": "query",
      "name": "framework_id",
      "schema": {
       "description": "Filter results to requirements belonging to this framework id. Omit to return requirements across all frameworks.",
       "example": 1,
       "type": "integer",
       "exclusiveMinimum": 0,
       "maximum": 9007199254740991
      },
      "description": "Filter results to requirements belonging to this framework id. Omit to return requirements across all frameworks."
     },
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "description": "Number of items to skip before collecting results. Use with limit to page through results. Defaults to 0.",
       "example": 0,
       "type": "integer",
       "minimum": 0,
       "maximum": 9007199254740991
      },
      "description": "Number of items to skip before collecting results. Use with limit to page through results. Defaults to 0."
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "description": "Maximum number of items to return in a single response. Minimum 1, maximum 100. Defaults to 25.",
       "example": 25,
       "type": "integer",
       "minimum": 1,
       "maximum": 100
      },
      "description": "Maximum number of items to return in a single response. Minimum 1, maximum 100. Defaults to 25."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful retrieval of compliance requirements.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "The unique numeric identifier of the requirement.",
              "example": 101
             },
             "framework_id": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "The id of the framework this requirement belongs to.",
              "example": 1
             },
             "requirement_number": {
              "type": "string",
              "description": "The alphanumeric identifier for the requirement within its framework. For example, a clause number such as 7.1 or a section reference such as A.5.1.",
              "example": "7.1"
             },
             "name": {
              "type": "string",
              "description": "The short title of the requirement.",
              "example": "Planning of product realisation"
             },
             "description": {
              "anyOf": [
               {
                "type": "string"
               },
               {
                "type": "null"
               }
              ],
              "description": "An optional description of the requirement.",
              "example": null
             }
            },
            "required": [
             "id",
             "framework_id",
             "requirement_number",
             "name",
             "description"
            ],
            "additionalProperties": false
           }
          },
          "total": {
           "type": "number"
          }
         },
         "required": [
          "items",
          "total"
         ],
         "additionalProperties": false,
         "description": "A paginated list of compliance requirements.",
         "example": {
          "total": 2,
          "items": [
           {
            "id": 101,
            "framework_id": 1,
            "requirement_number": "7.1",
            "name": "Planning of product realisation",
            "description": null
           },
           {
            "id": 102,
            "framework_id": 1,
            "requirement_number": "7.2",
            "name": "Customer-related processes",
            "description": null
           }
          ]
         },
         "ref": "complianceRequirementListResponse"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed query parameters",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequest400ParametersResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "429": {
      "description": "This API key has exceeded the fair usage policy in Qualio, and has it its requests restricted. This request has not been processed",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/throttledResponse"
        }
       }
      }
     }
    }
   },
   "options": {
    "description": "Lists the compliance requirements in your Qualio instance. A requirement is an individual clause or control obligation from a compliance framework that your organisation has committed to meet. Each requirement belongs to exactly one framework and carries a requirement_number (for example a clause reference such as 7.1), a short name, and optional full normative text. Use the framework_id parameter to return requirements for a specific framework only. Omit it to return requirements across all frameworks visible to your instance. Results are ordered by requirement id. Use offset and limit to page through large sets; the total field in the response reports the full count before pagination is applied.",
    "operationId": "listComplianceRequirementsOptions",
    "tags": [
     "Compliance Intelligence"
    ],
    "x-scalar-ignore": true,
    "parameters": [
     {
      "in": "query",
      "name": "framework_id",
      "schema": {
       "description": "Filter results to requirements belonging to this framework id. Omit to return requirements across all frameworks.",
       "example": 1,
       "type": "integer",
       "exclusiveMinimum": 0,
       "maximum": 9007199254740991
      },
      "description": "Filter results to requirements belonging to this framework id. Omit to return requirements across all frameworks."
     },
     {
      "in": "query",
      "name": "offset",
      "schema": {
       "description": "Number of items to skip before collecting results. Use with limit to page through results. Defaults to 0.",
       "example": 0,
       "type": "integer",
       "minimum": 0,
       "maximum": 9007199254740991
      },
      "description": "Number of items to skip before collecting results. Use with limit to page through results. Defaults to 0."
     },
     {
      "in": "query",
      "name": "limit",
      "schema": {
       "description": "Maximum number of items to return in a single response. Minimum 1, maximum 100. Defaults to 25.",
       "example": 25,
       "type": "integer",
       "minimum": 1,
       "maximum": 100
      },
      "description": "Maximum number of items to return in a single response. Minimum 1, maximum 100. Defaults to 25."
     }
    ],
    "responses": {
     "200": {
      "description": "Options 200",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    }
   },
   "post": {
    "summary": "Create a requirement",
    "description": "Creates a new compliance requirement and associates it with an existing framework. Provide the framework_id of the framework the requirement belongs to, a unique requirement_number within that framework (for example a clause reference such as 7.1), and a short name. The description and requirement_text fields are optional: omit them or pass null when not available. The id returned in the response can be used to retrieve the requirement via the List requirements endpoint.",
    "operationId": "createComplianceRequirement",
    "tags": [
     "Compliance Intelligence"
    ],
    "security": [
     {
      "api_key": []
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "framework_id": {
          "type": "integer",
          "exclusiveMinimum": 0,
          "maximum": 9007199254740991,
          "description": "The id of the framework this requirement belongs to.",
          "example": 1
         },
         "requirement_number": {
          "type": "string",
          "minLength": 1,
          "description": "The alphanumeric identifier for the requirement within its framework. For example, a clause number such as 7.1 or a section reference such as A.5.1.",
          "example": "7.1"
         },
         "name": {
          "type": "string",
          "minLength": 1,
          "description": "The short title of the requirement.",
          "example": "Planning of product realisation"
         },
         "description": {
          "description": "An optional description of the requirement.",
          "example": null,
          "anyOf": [
           {
            "type": "string"
           },
           {
            "type": "null"
           }
          ]
         }
        },
        "required": [
         "framework_id",
         "requirement_number",
         "name"
        ],
        "description": "The requirement to create.",
        "example": {
         "framework_id": 1,
         "requirement_number": "7.1",
         "name": "Planning of product realisation",
         "description": null
        },
        "ref": "createComplianceRequirementRequest"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Requirement created successfully.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "exclusiveMinimum": 0,
           "maximum": 9007199254740991,
           "description": "The unique numeric identifier of the requirement.",
           "example": 101
          },
          "framework_id": {
           "type": "integer",
           "exclusiveMinimum": 0,
           "maximum": 9007199254740991,
           "description": "The id of the framework this requirement belongs to.",
           "example": 1
          },
          "requirement_number": {
           "type": "string",
           "description": "The alphanumeric identifier for the requirement within its framework. For example, a clause number such as 7.1 or a section reference such as A.5.1.",
           "example": "7.1"
          },
          "name": {
           "type": "string",
           "description": "The short title of the requirement.",
           "example": "Planning of product realisation"
          },
          "description": {
           "anyOf": [
            {
             "type": "string"
            },
            {
             "type": "null"
            }
           ],
           "description": "An optional description of the requirement.",
           "example": null
          }
         },
         "required": [
          "id",
          "framework_id",
          "requirement_number",
          "name",
          "description"
         ],
         "additionalProperties": false,
         "description": "The newly created requirement.",
         "example": {
          "id": 101,
          "framework_id": 1,
          "requirement_number": "7.1",
          "name": "Planning of product realisation",
          "description": null
         },
         "ref": "createdComplianceRequirement"
        }
       }
      }
     },
     "400": {
      "description": "The request has malformed body",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericBadRequestResponse"
        }
       }
      }
     },
     "403": {
      "description": "This API key is not allowed to perform this action, or the API key is incorrect",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/genericForbiddenResponse"
        }
       }
      }
     },
     "404": {
      "description": "Framework not found.",
      "headers": {
       "Access-Control-Allow-Origin": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Headers": {
        "schema": {
         "type": "string"
        }
       },
       "Access-Control-Allow-Methods": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Type": {
        "schema": {
         "type": "string"
        }
       },
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/generic404"
        }
       }
      }
     },
     "429": {
[...]
